#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/backlight.h>

/ {
    behaviors {
        hw_soft_off: hw_soft_off {
            compatible = "zmk,behavior-soft-off";
            #binding-cells = <0>;
            split-peripheral-off-on-press; // Turn peripheral off immediately for reliability
            hold-time-ms = <2000>; // Only turn off if the key is held for 2 seconds or longer.
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------
            // |ESC|   | F1| F2| F3| F4| | F5| F6| F7| F8| | F9|F10|F11|F12||ENC|
            // | ~ | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 0 | - | = |  BCK | |DEL|
            // |TAB| Q | W | E | R | T | Y | U | I | O | P | [ | ] |  \  |  |HOM|
            // | CAP| A | S | D | F | G | H | J | K | L | ; | ' | |  ENT |  |END|
            // | SHIFT | Z | X | C | V | B | N | M | , | . | / | FN|    | UP|   |
            // | CTL|WIN|ALT|             SPACE            |ALT|WIN||LFT|DWN|RGT|
            // ------------------------------------------------------------------

            bindings = <
                &kp ESC &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6 &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &kp F12 &kp C_MUTE
                &kp TILDE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS &kp EQUAL &kp BSPC &kp DELETE
                &kp TAB &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT &kp BSLH &kp HOME
                &kp CAPSLOCK &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI &kp SQT &kp RET &kp END
                &kp LSHIFT &kp Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp FSLH &mo 1 &kp UP
                &kp LCTRL &kp LGUI &kp LALT &kp SPACE &kp RALT &kp RGUI &kp LEFT &kp DOWN &kp RIGHT
            >;

            sensor-bindings = <&inc_dec_kp R L>;
        };

        bt_layer {
            // T -> &trans = transparent (passes keypress to next active layer)
            // X -> &none  = no binding, (no keycode generated)
            // ------------------------------------------------------------------
            // | X |   | X | X | X | X | | X | X | X | X | | X | X | X | X || X |
            // | X |BT0|BT1|BT2|BT3| X | X | X | X | X |CLR| X | X |   X  | | X |
            // | X | X | X | X | X | X | X | X | X | X | X | X | X |  X  |  | X |
            // | X  | X | X | X | X | X | X | X | X | X | X | X | |   X  |  | X |
            // | X     | X | X | X | X | X | X | X | X | X | X | X |    | X |   |
            // |BTLD|RST| X |               X              | X | X || X | X | X |
            // ------------------------------------------------------------------

            bindings = <
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &none &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &none &none &none &none &none &bt BT_CLR &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none &none
                &none &none &none &none &none &none &none &none &none &none &none &none &none
                &bootloader &sys_reset &none &none &none &none &none &none &none
            >;
        };
    };
};